<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-electron</title>
    <style>
      html,body {
        height: 100vh;
        width: 100vw;
      }
      body {
        overflow: hidden;
      }

      /* recommended css code for vue-svgicon */
      .svg-icon {
          display: inline-block;
          width: 16px;
          height: 16px;
          color: inherit;
          vertical-align: middle;
          fill: none;
          stroke: currentColor;
      }

      .svg-fill {
          fill: currentColor;
          stroke: none;
      }

      .svg-up {
          /* default */
          transform: rotate(0deg);
      }

      .svg-right {
          transform: rotate(90deg);
      }

      .svg-down {
          transform: rotate(180deg);
      }

      .svg-left {
          transform: rotate(-90deg);
      }
      </style>
    <% if (htmlWebpackPlugin.options.nodeModules) { %>
      <!-- Add `node_modules/` to global paths so `require` works properly in development -->
      <script>
        require('module').globalPaths.push('<%= htmlWebpackPlugin.options.nodeModules.replace(/\\/g, '\\\\') %>')
      </script>
    <% } %>
  </head>
  <body>
    <div id="app"></div>
    <!-- Set `__static` path to static files in production -->
    <% if (!process.browser) { %>
      <script>
        if (process.env.NODE_ENV !== 'development') window.__static = require('path').join(__dirname, '/static').replace(/\\/g, '\\\\')
      </script>
    <% } %>

    <!-- webpack builds are automatically injected -->
  </body>
</html>
